.c--media-a {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;

    &__media {
        border-radius: $measure;
        display: block;
        min-height: 30vh;
        object-fit: contain;
        transform: scale(0.417);
        transform-origin: top center;
        transform-style: preserve-3d;
        will-change: transform;

        &--second {
            border-radius: 0;
            height: auto;
            min-height: 1px;
            max-width: 1920px;
            width: 100%;
        }
    }
}
