.g--card-18 {
    @include make-card-18();
    @include make-card-18-modifier(
        $card-options: (
            "align": center,
        ),
        $item-primary-options: (
            "className": f--font-e,
            "color": map-get($color-options, a),
            "font-weight": 700,
        ),
        $media-options: (
            "aspect-ratio": 252 200,
            "border-radius": 900px,
            "height": auto,
            "width": 100%,
            "object-fit": cover,
            "object-position": center,
            "first": yes,
        )
    );
}
