.g--card-35 {
    @include make-card-35();
    @include make-card-35-modifier(
        $card-options: (
            "align": center,
        ),
        $media-options: (
            "aspect-ratio": 252 200,
            "border-radius": 900px,
            "height": auto,
            "width": 100%,
            "object-fit": cover,
            "object-position": center,
            "first": yes,
        ),
        $item-primary-options: (
            "className": f--font-e,
            "color": map-get($color-options, a),
            "font-weight": 700,
        ),
        $list-group-item-options: (
            "className": f--font-e,
            "font-weight": 500,
            "color": rgba(map-get($color-options, a), 50%),
        )
    );
}
