.g--hero-05 {
    @include make-hero-05();
    @include make-hero-05-modifier(
        $hero-options: (
            // "align": right,
            "back-items": yes,
            "breakpoint-bigger-columns": $tabletl,
            "breakpoint-full-width": $mobile,
            // "min-height": 700px
        ),
        $background-options: (
            "background-color": map-get($color-options, a),
            "background-repeat": no-repeat,
            "background-size": 75% auto,
            "background-position": right bottom,
        ),
        $item-primary-options: (
            "className": f--font-b f--color-b,
            "font-weight": 700,
        ),
        $item-secondary-options: (
            "className": f--font-d f--color-b,
            "font-weight": 500,
        ),
        $list-group-item-options: (
            "className": g--btn-01,
        )
    );
}
