.c--hero-b {
    @extend .f--background-c;
    padding: $measure * 15 $measure * 7 $measure * 10;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: $measure * 4;
        width: 100%;

        &__title {
            @extend .f--font-b;
            @extend .f--color-a;
            font-weight: 700;
        }

        &__content {
        }
    }

    &__media-wrapper {
        height: 90px;
        width: 100%;

        &__media {
            aspect-ratio: 4 / 1;
            display: block;
            position: relative;
            object-fit: contain;
            height: 100%;
            width: 100%;
        }
    }
}
