.c--hero-a {
    @extend .f--background-a;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: 100%;

    &__media-wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        height: 100%;
        width: 100%;

        .lottie-animation-container {
            max-height: 225px !important;
            height: 100% !important;
            width: 225px !important;
        }

        &__media {
        }
    }

    &__wrapper {
        padding-top: $measure * 15;
        padding-bottom: $measure * 15;

        &__title {
            @extend .f--font-b;
            @extend .f--color-b;
            font-weight: 700;
        }
    }
}
